# =========================
# Maven / Java
# =========================
target/
*.class
*.log
*.iml

# =========================
# Allure Reports
# =========================
allure-results/
allure-report/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Selenium / Test Output
# =========================
test-output/
surefire-reports/

# =========================
# Node (varsa)
# =========================
node_modules/

# =========================
# Optional
# =========================
*.tmp
*.bak